.proc_list {
  width: 100%;
  display: flex;
  margin: 70px 0;
  padding: 0 20px;
}

.list_last {
  width: 50px;
  min-height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.insertArea {
  width: 40px;
  padding: 0;
  border: none;
  z-index: 1;
}

.insertArea_active {
  background-color:#FF9872;
  opacity: 0.7;
}

.list_delete {
  color: #000;
  opacity: 0.7;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.addIcon {
  display: block;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  border: 2px solid blue;
  border-radius: 8px;
  box-shadow: 1px 1px 2px 0px #777777;
  cursor: pointer;
  color: blue;
}