.addIcon {
  border: 2px solid blue;
  border-radius: 8px;
  box-shadow: 1px 1px 2px 0px #777777;
  cursor: pointer;
  color: blue;
  margin: 5px 0 0;
}

.taskInsertArea{
  width: 100%;
  height: 25px;
}

.taskInsertArea_active{
  background-color:#FF9872;
  opacity: 0.7;
}